<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{question.question_text}} Detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Question: {{question.question_text}}</h1>
    </div>

    <div class="container">
      {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
            <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
        {% endfor %}
        <input type="submit" value="vote">
      </form>
      <h3>Answers:</h3>
      <ul>
        {% for choice in question.choice_set.all %}
          <li>{{choice.choice_text}} - Votes: {{choice.votes}}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
